.tables-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  width: 100%;
  padding-bottom: 10px;
}
.table-container {
  // display: grid;
  // grid-template-columns: 1fr 1fr;
  padding-bottom: 10px;
  max-width: 800px;
}



$breakpoint-small-desktop: 1000px;
@media (max-width: $breakpoint-small-desktop) {
  .tables-container {
    grid-template-columns: 1fr;
    padding-bottom: 10px;
  }
}
