.land-calculator-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  min-height: 100vh;
  background-color: #f4f4f4;
}

.land-calculator {
  padding: 20px;
  max-width: 1000px;
  width: 100%;

  .app-header {
    text-align: center;
    background: white;
    padding: 20px;
    margin-bottom: 10px;
    border-bottom: 2px solid #ccc;
    border-radius: 10px;

    h1 {
      margin: 0;
      font-size: 2rem;
      color: #333;
    }
  }

  .centered {
    text-align: center;
  }
}


/* Responsive Design */
@media (max-width: 768px) {
  .land-calculator {
    padding: 80px 10px 10px;

    .app-header {
      h1 {
        font-size: 1em;
      }
    }
  }
}
