
.step-button{
  display: flex;
   flex-direction: column;
   align-items: center;

   padding: 0 10px;
   button{
    padding: 10px 20px;
    cursor: pointer;
    width:100%;
    background-color: #f0f0f0; 
    color:  #000; 
    border: 2px solid #ccc;
    transition:background-color 0.3s, color 0.3s, border 0.3s;

    &.is-active {
    background-color: #007bff;
    color: #fff;
    border:2px solid #0056b3

    }

    
   }
}