@media print {
  .navbar,
  .hover-add-icon.hover-add-icon-active,
  footer,
  button.copy-url-button {
    display: none !important;
  }

  input {
    box-shadow: none !important;
  }
  .app-header {
    font-size: 2rem;
  }

  .dynamic-cell {
    border: none !important;
  }

  .dynamic-row.three-cell-row.output-row * {
    color: black !important;
    font-size: 1.25rem !important;
  }
}
