.dynamic-row {
  width: 100%;
  display: flex;
  border-bottom: 1px solid rgb(187, 168, 168);
  position: relative;
  padding: 3px 0;
  .dynamic-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .hover-add-icon {
    display: none;
    position: absolute;
    border: solid black 1px;
    left: -18px;
    top: 0px;
    width: 28px;
    height: 28px;
    border-radius: 100px;
    line-height: 24px;
    text-align: center;
    background: white;
    cursor: pointer;
    &.hover-add-icon-active {
      display: block;
    }
    &:hover {
      opacity: 0.9;
    }
  }
  &:hover {
    .hover-add-icon {
      display: block;
    }
  }
  .input-units {
    position: absolute;
  }
  &.one-cell-row {
    .first-cell {
      width: 100%;
    }
  }
  &.two-cell-row {
    .first-cell {
      width: 85%;
    }
    .second-cell {
      width: 15%;
    }
  }
  &.three-cell-row {
    .first-cell {
      width: 70%;
    }
    .second-cell {
      width: 15%;
    }
    .third-cell {
      width: 15%;
    }
  }

  &.four-cell-row {
    .first-cell {
      width: 60%;
    }
    .second-cell {
      width: 10%;
    }
    .third-cell {
      width: 15%;
    }
    .fourth-cell {
      width: 15%;
    }
  }

  .first-cell {
    text-align: left;
    cursor: pointer;
  }

  .info-cell {
    border: none;
    text-align: left;
    // background-color: #f0f8ff;
    min-width: 10px;
    font-size: 1em;
    color: #1a1a1a;

    &.first-cell {
      padding: 2px 10px;
    }
  }
  .description-cell {
    color: #1a1a1a;
    // background-color: #f0f8ff;
    font-size: 0.8em;
    padding-top: 0;
    padding-bottom: 10px;
  }

  .input-cell {
    // background-color: #cce3ed; //#ffebcd;
    padding: 0;
    background-color: #ebf1f4;
    position: relative;
    border-radius: 100px;
    /* margin: -3px; */
    border: 1px solid grey;

    label{
      height: 100%;
    }

    // padding: 2px 10px;
    input[type="date"] {
      padding-inline-start: 10px;
      cursor: default;
      padding: 0px;
      font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
      font-size: 12px;
      &::-webkit-calendar-picker-indicator {
        position: absolute;
        top: 50%;
        right: 3px;
        transform: translateY(-50%);

        // background: orange;
        // filter: invert(100%);
      }
    }

    input {
      color: #1a1a1a;
      font-size: 1em;
      background: transparent;
      width: 100%;
      height: 100%;
      border: none;
      box-sizing: border-box;
    }
  }

  &.output-row {
    * {
      background-color: #000;
      color: #fff;
    }
  }

  &.title-row {
    background: #70986f;
    color: #1a1a1a;
    padding: 10px 0px;

    text-align: left;

    .hover-add-icon {
      display: none;
    }
    .description-cell {
      display: none;
    }
    .first-cell {
      font-size: 1.3em;
    }
    * {
      background: transparent;
    }
  }

  .output-cell {
    font-size: 1.1em;

    background-color: #000; // Black background for output cells
    color: #fff; // White text for output cells
  }

  .centered {
    text-align: center;
  }
}

$breakpoint-tablet: 768px;
@media (max-width: $breakpoint-tablet) {
  .dynamic-row {
    border-bottom: 1px solid rgb(187, 168, 168);
    .info-cell {
      h4 {
        font-size: 0.85em;
      }
    }
    .dynamic-cell {
      font-size: 11px;
      padding-left: 0;
      padding-right: 0;
      input {
        padding: 0;

        &[type="date"] {
          font-size: 0.75em;
          &::-webkit-calendar-picker-indicator {
            width: 150px;
            opacity: 0;
            // display: none;
          }
        }
      }
      * {
        padding: 0;
      }
    }

    &.one-cell-row {
      .first-cell {
        width: 100%;
      }
    }
    &.two-cell-row {
      .first-cell {
        width: 80%;
      }
      .second-cell {
        width: 20%;
      }
    }
    &.three-cell-row {
      .first-cell {
        width: 60%;
      }
      .second-cell {
        width: 20%;
      }
      .third-cell {
        width: 20%;
      }
    }

    &.four-cell-row {
      .first-cell {
        width: 50%;
      }
      .second-cell {
        width: 10%;
      }
      .third-cell {
        width: 20%;
      }
      .fourth-cell {
        width: 20%;
      }
    }
  }
}

.copy-url-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #487e4a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #45a049;
  }

  &.copied {
    background-color: #2196f3;
  }
}

.divisor {
  height: 1px;
  width: 100%;
  background: black;
}
.top,
.bottom {
  display: flex;
  gap: 4px;
  align-items: center;
}

.math-equation {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;

  border-radius: 3px;
  cursor: pointer;
  color: var(--base-black);
}
.math-equation mi {
  font-size: 14px;
}
.math-equation mn {
  font-size: 10px;
}

.math-equation:hover {
  background: skyblue;
}
